#home-slider {
  display: flex;

  .home-bg {
    margin-top: -4.324rem;
    min-height: calc(100vh - 4.324rem);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .owl-carousel {
      .owl-stage-outer {
        @apply h-full;

        .owl-stage {
          @apply h-full;

          .owl-item {
            @apply h-full;

            a {
              font-size: 1.125rem;
              font-weight: 500;
              line-height: 3.437rem;
            }
          }
        }
      }

      .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;

        .owl-next {
          left: calc(100% - 7.187rem);
          position: relative;
        }

        .owl-prev {
          right: -2.187rem;
          position: relative;

          .arrow-prev {
            transform: rotate(180deg) !important;
          }
        }
      }
    }
  }
}
