.nav-primary {
  width: auto;

  .nav {
    list-style: none;

    @apply flex -mx-6;

    li {
      padding: 1.85rem 0;

      a {
        padding: 1.85rem 0;
        color: $black;

        @apply mx-6;
      }

      .sub-menu {
        @apply absolute mx-0 px-0 bg-white;

        margin-top: 28.19px;
        list-style: none;
        width: 200px;
        z-index: 9999;
        display: none;

        li {
          padding: 11px 20px;
          border-bottom: 1px solid $black;

          @apply text-left;

          &:last-of-type {
            border-bottom: none;
          }

          a {
            color: $green;
            font-weight: 600;
            font-size: 12px;

            @apply mx-0;

            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }
}
