#automobile-single {
  min-height: 100vh;
  padding: 2.125rem 0;

  .auto-quicklinks {
    margin-bottom: 1.55rem;

    a {
      background-color: $grey-3;
      text-align: center;
      width: 100%;
      padding: 25px;
      font-weight: 500;
      border-radius: 40px;
      color: $black;
      font-size: 17px;
      line-height: 1px;

      @apply font-Montserrat;
    }
  }

  .auto-title {
    margin-bottom: 1.25rem;

    p {
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      color: $grey-2;

      @apply font-Montserrat;

      a {
        color: $black;
      }
    }
  }

  .automobile-description {
    @apply font-Montserrat;

    .subtext {
      text-align: center;

      p {
        font-size: 14px;
        line-height: 25px;
        color: $grey-2;
      }
    }

    .automobile-engine {
      .attributes {
        p {
          color: $grey-4;

          strong {
            font-size: 28px;
            color: $black;
            font-weight: 700;
          }

          sub {
            font-weight: 700;
            color: $grey-5;
          }
        }
      }
    }
  }
}

.automobile-view {
  padding: 0 5vw 40px;
}

.automobile-view-container {
  .owl-nav {
    position: absolute;
    top: 33%;
    width: 100%;

    .owl-next {
      right: 5px;
      position: absolute;
    }

    .owl-prev {
      left: 5px;
      position: absolute;

      .arrow-prev {
        transform: rotate(180deg) !important;
      }
    }
  }
}
