h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight;
}

p {
  @apply mb-3 leading-normal;
}

a {
  @apply text-primary no-underline border-b border-transparent;

  transition: 0.2s ease;
}

html,
body {
  @apply font-Roboto;

  overflow-x: hidden;
}

button:focus,
select:focus,
input {
  outline: none;
}

.button-white-bg {
  z-index: 5;
  visibility: visible;
  text-align: center;
  letter-spacing: 0;
  font-weight: 500;
  font-size: 18px;
  border-color: transparent;
  border-style: none;
  border-radius: 60px;
  color: $grey;
  text-decoration: none;
  white-space: normal;
  padding: 0 45px;
  opacity: 1;
}

.button-transparent-bg {
  z-index: 5;
  visibility: visible;
  text-align: center;
  letter-spacing: 0;
  font-weight: 500;
  font-size: 18px;
  border-color: $grey;
  border-style: solid;
  border-width: 2px;
  margin: 0;
  border-radius: 60px;
  padding: 0 45px;
  color: $grey;
  background-color: $grey;
  text-decoration: none;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.current_page_item,
.current-menu-parent {
  a {
    color: $green !important;
  }
}

.current-menu-item {
  a {
    color: $black !important;
  }
}

.modal {
  z-index: 999999 !important;
  margin-top: 91px;
}
