h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight;
}

p {
  @apply mb-3 leading-normal;
}

a {
  @apply text-primary no-underline border-b border-transparent;

  transition: 0.2s ease;
}

.button {
  z-index: 5;
  background-color: $white;
  visibility: visible;
  text-align: center;
  line-height: 55px;
  letter-spacing: 0;
  font-weight: 500;
  font-size: 18px;
  border-color: transparent;
  border-style: none;
  margin: 0;
  border-radius: 60px;
  padding: 0 34px;
  color: $grey;
  text-decoration: none;
  white-space: normal;
  width: 208px;
  height: 55px;
  min-height: 0;
  min-width: 0;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50%;
  opacity: 1;
}
